# Ignore everything
*
# But descend into directories
!*/
# Recursively allow files under subtree
!/leap_socket/**
!/uvms_palm_pilot/**
!/ultrahaptics/**

# You can be specific with these rules
!.gitignore

